body {
  font-family: 'Raleway', sans-serif;
  color: #213053;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.header__logo {
  height: 30px;
}

a {
  text-decoration: none;
  color: #213053;
}

header a {
  font-size: 15px;
  font-weight: 600;
  margin-right: 25px;
}

button {
  font-family: 'Raleway', sans—serif;
  font-size: 15px;
  color: #fff;
  background-color: #23a030;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
  padding: 15px;
}

button:hover {
    background-color: #f6980c;
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
    transition: background-color 0.3s ease-in;
}

.about__image {
  width: 500px;
}

.about__sun-image {
  width: 100px;
  height: 100px;
  animation-name: rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
}

.about {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 115px;
  padding-bottom: 115px;
  background: url('img/back.png') no-repeat center;
  background-size: cover;
}

.orb-canvas {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.about h1 {
  font-size: 70px;
  line-height: 76px;
}

.about p {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.8;
}

.about button {
  font-size: 18px;
  border-radius: 20px;
  padding: 20px 25px;
  margin-top: 20px
}

.about__info {
  max-width: 550px;
}

.form__container {
  width: 550px;
}


.form {
  background-color: #1D263A;
  color: #ffffff;
  padding-top: 115px;
  padding-bottom: 115px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 48px;
}

.form p {
  font-size: 18px;
  opacity: 0.65;
}

.form__group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form form {
  display: grid;
  grid-gap: 20px;
  margin-top: 60px;
}

.form label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.form input {
  font-size: 18px;
  color: #213053;
  height: 60px;
  padding: 0 20px;
  border-radius: 15px;
  border: none;
  outline: none;
  margin-bottom: 15px;
}

.form select {
  font-size: 18px;
  color: #213053;
  height: 60px;
  padding: 0 20px;
  border-radius: 15px;
  border: none;
  appearance: none;

}

.form__submit {
  font-size: 18px;
  font-weight: 600;
  margin-top: 40px;
}

footer {
  padding: 90px 20px;
  font-weight: 600;
}

.footer__container {
  display: flex;
  justify-content: center;
}

.footer__group {
  margin-right: 80px;
}

.footer__group h3{
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 30px;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links a {
  margin-bottom: 15px;
}

.footer__copyright {
  text-align: center;
  margin-top: 40px;
  opacity: 0.5;
}

.features {
    background: white;
    padding: 115px 60px;

}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.card {
    padding: 30px 40px 25px 40px;
    border: 1px solid #D9E4E6;
    border-radius: 5px;
}

.card p {
    font-size: 16px;
    height: 22px;
    opacity: 0.8;
}

.card__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    font-size: 32px;
    font-weight: 700;
    background: #eaeff9;
    border-radius: 50%
}

.features__border {
    margin: 50px 0;
    border: 1px solid #E6EAF4;
}

.features__feedback {
    display: flex;
}

.features__feedback-left {
    margin-right: 10px;
}

.features__feedback-left h2 {
    font-size: 48px;
}

.features__feedback-left p {
    font-size: 18px;
    line-height: 26px;
    opacity: 0.7;
}

.features__feedback-right {
    display: flex;
    justify-content: center;
}

.features__box {
    padding: 30px 40px 25px 40px;
    color: white;
    border-radius: 25px;
}

.features__box h3 {
    margin-bottom: 20px;
    font-size: 48px;
}

.features__savings-box {
    background: #dc5e26;
    box-shadow: 0 6px 0 rgb(221 95 38 / 20%);
    margin-right: 30px;
}

.features__rate-box {
    background: #1D263A;
    box-shadow: 0 6px 0 rgb(29 38 58 / 20%);
}

.star {
    color: #ff7039;
}

.promo {
    display: flex;
}

.promo__image {
    background-image: url("img/promo.jpg");
    background-size: cover;
    flex-shrink: 0;
    width: 50%;
    background-position: center;
}

.promo__right {
    background: #dd5f26;
    width: 50%;
    padding: 160px 60px;
}

.promo__text {
    background: white;
    padding: 30px 40px;
    border-radius: 25px;
}

.promo__text p {
    opacity: 0.8;
    font-size: 20px;
    line-height: 22px;
    font-weight: 500;
}

.promo__text p::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ec6b29;
    margin-right: 10px;
}

.promo__button-wrap {
    display: flex;
    justify-content: center;
}

.promo__text button {
    background: #107b1c;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
}

.promo__text button i {
    font-size: 15px;
    margin-left: 5px;
}


@keyframes rotation {
    0% {
        transform: rotate(90deg);
    }

    30% {
        transform: rotate(180deg);
    }

    60% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Планшеты */
@media (max-width: 1024px) {
   .about {
       padding: 115px 20px;
   }

   .about h1 {
       font-size: 36px;
       line-height: 40px;
   }

   .about__image {
       width: 280px;
   }

   .about__sun-image {
       width: 75px;
       height: 75px;
   }
}

/* Мобильные устройства */
@media (max-width: 720px) {
   header {
       padding: 10px;
   }

   .header__logo {
       height: 20px;
   }

   header a {
       margin-right: 10px;
   }

   .about {
       flex-direction: column-reverse;
       padding: 50px 10px;
   }

   .about h1 {
       font-size: 36px;
       line-height: 40px;
   }

   .about__image {
       width: 280px;
   }

   .about__sun-image {
       width: 75px;
       height: 75px;
   }

   .form {
       padding: 50px 10px;
   }

   .form h1 {
       font-size: 36px;
   }

   footer {
       padding: 50px 10px;
   }

   .footer__container {
       flex-direction: column;
   }

   .features {
       padding: 50px 10px;
   }
}


